* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: rgb(255, 255, 255)
}

.todo {
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 15px auto 15px;
    padding: 40px 30px 40px;
    border-radius: 24px;   
}

.todo h2{
    transition: 1000ms;
    display: block;
    font-size: 48px;
    user-select: none;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    color: #fc9eff; 
          
        
}

.todo h2 img {
    /* transition: 1000ms; */
    width: 30px;
    margin-left: 10px;
}

.listrow {
    transition: 500ms;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 12px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    transition: 500ms;
    border:none;
    outline: none;
    padding: 16px 50px;
    color: white;
    font-size: 16px;
    background-color: rgb(0, 199, 66);
    border-radius: 40px;
    cursor: pointer;
}
 
/* görev listesi başlangıç */

ul li{

    border-radius: 4px;
    background-color: #edeef0;
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin-bottom: 15px;
}

ul li::before{
    transition: 1000ms;
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    /* background-color: red; */
    border-radius: 50%;
    background-image: url(../image/unchecked.png) ;
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 15px;
}

ul li:hover {
    transition: 1000ms;
    background-color: #cbcbcb;

}

ul li.completed {
    

    color: #55555598;
    text-decoration: line-through;
}

ul li.completed::before{
    transition: 1000ms;

    background-image: url(../image/icons8-checked-32.png) ;
}

/* görev listesi bitiş */

/* çarpı başlangıç */
ul li span {
    position: absolute;
    right: 0;
    top: 0px;
    width: 42px;
    height: 45px;
    font-size: 22px;
    color: #555;
    line-height: 48px;
    text-align: center;
    border-radius: 4px;
}


ul li span:hover{
    background: #ff0000;
    transition: 2000ms;
}

/* çarpı bitiş */

/* test kodu */
.checkedbtn {

    background-color: #333232;
    padding: 16px 16px;
    display: block;
    justify-content: right;
    color: #312eff; background-image: 
    -webkit-linear-gradient(0deg, #1bcb00 15%, #003d82 65%); 
    background-clip: text; 
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 1000ms;
    text-align: right;
}

.warn::placeholder {
    color: red !important;
    font-size: larger;
}

.task {
    position: relative;
    /* margin-bottom: 10px; */
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 1s;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      width: 5px;
    }
    to {
      opacity: 1;
      width: 480px;
    }
  }

/* .task:not(:last-child) {
    border-bottom: 1px solid rgba(0 , 0 , 0 , 0.1);
}; */

  
.radiomenu {
    
    display: flex;
    gap: 15px;
    padding: 24px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    max-width: 500px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
  }

.radiomenu label {
    cursor: pointer;
}


input[type="radio"] {
    display: none;
}


.todo-list.completed li:not(.task.completed) {
    display: none;
}

.todo-list.active li.task.completed{
    display: none;
}


.footerdiv {
    position: absolute;
    margin-right: 22rem;
}

.footerdivright {
    position: absolute;
    margin-left: 22rem;
}

.deletedtask {
    transition:700ms;
    background-color: rgb(250, 0, 0);
    opacity: 0;
}


